/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
/* src/theme/variables.css */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    /* Apoi, pentru a-l folosi peste tot în aplicație: */
    --ion-font-family: 'Quicksand', sans-serif;
    --font-sm: 1rem;       /* 16px */
    --font-md: 1.25rem;    /* 20px */
    --font-lg: 1.5rem;     /* 24px */
    --font-xl: 1.875rem;     /* 30px */
    --font-xxl: 2.5rem;
    --font-xxxl: 4rem;
}